body {
  margin: 0 1rem;
}

.cheesynth {
  padding: .5rem;
  border: 1px solid #808080;
  text-align: center;
  font: 1rem/1rem monaco, monospace;
  white-space: pre;
}

ul.cheesynth-buttons {
  padding: 0;
  -moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none; -o-user-select:none;
}
ul.cheesynth-buttons li {
  display: inline-block;
  margin: .2rem;
  padding: .5rem 1rem;
  list-style: none;
  background-color: silver;
  cursor: pointer;
  transition: background-color .5s;
}
.cheesynth-buttons li:hover {
  background-color: #ff9;
}
